<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


    <variable name="logDirectory" value="logs"/>
    <targets>
        <!--write logs to file-->
        <!--将日志写入文件中,fileName可以指定日志生成的路径-->
        <target xsi:type="File" name="debug" fileName="${logDirectory}\${shortdate}_debug.log"
                    layout="【${longdate}】：${message} ${newline}" archiveAboveSize="20971520" />
        <!--同样是将文件写入日志中，写入的内容有所差别，差别在layout属性中体现。写入日志的数量有差别，差别在路由逻辑中体现 -->
        <target xsi:type="File" name="error" fileName="${logDirectory}\${shortdate}_error.log"
                 layout="【错误信息】: ${longdate}|${logger}|${uppercase:${level}}${newline}【访问地址】: ${source}${newline}【描述信息】：${message} ${newline}【堆栈调用】： ${onexception:${exception:format=tostring} ${newline}${stacktrace} ${newline}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Error"  writeTo="error" final="true" />
        <logger name="*" minlevel="Debug"  writeTo="debug" final="true" />
    </rules>
</nlog>